.content {
    background-color: #F5F5F5;
    width: 1200px;
    margin: 40px auto;
    padding: 20px;
    font-size: 24px;
}

.tag {
    font-style: italic;
}


ol {
    margin-left: 50px;
}

dl{
    margin: 0;
}

dd {
    color: grey;
    margin-left: 0;
}

.blue-text {
    color: #6c22f8;
}

.text-bold {
    font-weight: bolder;
}