body { /* Стиль для всего документа */
    font-size: 10pt; /* Размер шрифта */
    font-family: "Verdana", sans-serif; /* Название шрифта */
    }
    label { /* Стиль для всех элементов label */
    display: inline-block; /* Тип блока */
    width: 150px; /* Ширина */
    vertical-align: top; /* Вертикальное выравнивание */
    }
    select { /* Стиль для всех списков */
    width: 250px; /* Ширина */
    border: 1px solid black; /* Определение стиля для границы */
    }
    input.txt { /* Стиль для элемента input, имеющего класс txt */
    width: 250px; /* Ширина */
    border: 1px solid black; /* Определение стиля для границы */
    }
    textarea { /* Стиль для многострочного текстового поля */
    width: 250px; /* Ширина */
    84 Глава 1
    height: 100px; /* Высота */
    border: 1px solid black; /* Определение стиля для границы */
    }
    form div { /* Стиль для всех div, расположенных внутри form */
    margin-bottom: 20px; /* Отступ блока снизу */
    }